@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-size: 29px;
	color: #4CAF50;
	margin-bottom: 40px;
	margin-top: 0;
	text-align:center
}
.form {
  position: absolute;
  background: #FFFFFF;
  max-width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: arial;
}

.form .text-date {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 14px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top:10px;
}
.form select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background-color: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 16px;
  padding: 14px;
  box-sizing: border-box;
  font-size: 14px;
 
}

.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 14px;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;

}

.form .button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  text-align: center
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

html { 
   background: url("instruments.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}